body{
    background-image: url("../assets/group 11.png");
    background-size: 100%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
}
.container{
    width: 1300px;
    height: 900px;

}
.judul{
    color: #fff;
    height: 30px;
    font-size: 80px;
    font-family: 'Calistoga', serif;
    margin: none;
}
.tahun{
    font-size: 20px;
    font-family: 'Calistoga', serif;
    margin-top: 0px;
    margin-top: 0;
    color: #7B403A;
}
.poster{
    width: 300px;
    height: 450px;
}
.deskripsi{
    display: flex;
    color: #fff;
}

.add{
    font-family: 'Cabin', sans-serif;
    border-radius:40px;
    font-size: 32px;
    color:#FEB18B;
    width: 252px;
    height: 47px;
    font-family: 'Cabin', sans-serif;
    margin-top: 30px;
    background-color: transparent;
    border: 4px solid #FEB18B;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
a{
    text-decoration: none;
}
.kotakadd{
    display: flex;
    justify-content: right;
}
.arrow{
    float: left;
    width: 20px;
    height: 20px;
    float:left;
    margin: 30px;
    transition: all 0.1s ease-in-out;
}
.arrow:hover{
    filter: brightness(100);
}
table td{
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 24px;
}
.cast{
    color: #FEB18B;
    border-top: 5px solid #7B403A;

}
.cast1{
    color: #FEB18B;
    border-top: 5px solid #7B403A;
    border-bottom: 5px solid #7B403A;

}
.overflow{
    width: 1000px;
    height: 100px;
    border: 1px solid white;
    overflow: auto;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}