body{
    background-color: #081818;
    background-image: url("../assets/Vector.png");
    background-size: cover;
    background-attachment: fixed;
}
header {
    text-align: right;

}
nav ul input[type=text]{
    color: #F5DFC8;
    background-color: transparent;
    outline: none;
    font-size: 28px;;
    float: left;
    width: 397px;
    height: 49px;
    padding-left: 70px;
    padding-bottom: 2px;
    background-image: url(../assets/Group\ 7.png);
    background-repeat: no-repeat;
    border: none;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    color: #F5DFC8;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
}
nav a {
    text-decoration: none;
    color: #F5DFC8;
}
.film img {
width: 200px;
flex: 0 0 50%;
}

.film:hover {
transform: scale(1.1);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
    width: 1100px;
    height: 500px;
}
.film{
    margin: 25px;
    transition: filter 0.3s, transform 0.3s ;
}
.film:hover {
    transform: scale(1.04);
    filter:brightness(50%);
}

a{
    color:white;
    text-decoration: none;
    font-style: none;
}

input{
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    color: #F5DFC8;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page{
    color: #ffffff;

}